body {
  display: block;
  margin: 0, auto;
  text-align: center;
}
h1 {
  font-size: 55px;
  font-weight: bolder;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 30px;
}
h2 {
  font-size: 75px;
  font-weight: bolder;
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  font-size: 30px;
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 30px;
}
:root {
  --primary_color: #6c63ff;
  --box_shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.me {
  margin: 25px;
  padding: 20px 15px;
}
.contact_link {
  background: var(--primary_color);
  box-shadow: var(--box_shadow);
  padding: 20px 30px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  margin-right: 20px;
}
.about_link {
  text-decoration: none;
  padding: 20px 30px;
  background-color: white;
  border: 2px solid var(--primary_color);
  border-radius: 4px;
  margin-left: 20px;
}

.describe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.description {
  padding: 20px 30px;
  text-align: justify;
  font-size: 25px;
  margin-bottom: 40px;
}
#about {
  font-size: 80px;
}
.developer {
  color: gray;
  font-size: 30px;
}
#contact {
  font-size: 45px;
  font-weight: bold;
}
a {
  font-size: 25px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: red;
}
button {
  background-color: var(--primary_color);
  box-shadow: var(--box_shadow);
  color: aliceblue;
  padding: 21px 16px;
  border-radius: 4px;
}
